# Decision Trees & Perceptron(with Titanic dataset)

## Intro

## Import Libraries

In [2]:
import pandas as pd
import numpy as np
import sklearn

## Load data

In [8]:
X_train = pd.read_csv('../dataset/train.csv')
y_train = pd.read_csv('../dataset/train_labels.csv')
X_test = pd.read_csv('../dataset/test.csv')
y_test = pd.read_csv('../dataset/test_labels.csv')

In [14]:
X_train.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Ticket,Fare
count,800.000000,800.000000,640.000000,800.000000,800.000000,5.890000e+02,800.000000
mean,447.867500,2.311250,29.632031,0.541250,0.387500,2.649668e+05,32.592395
std,258.858126,0.835312,14.617948,1.139044,0.811275,4.819212e+05,50.726982
min,1.000000,1.000000,0.670000,0.000000,0.000000,6.950000e+02,0.000000
25%,224.750000,2.000000,20.000000,0.000000,0.000000,2.416000e+04,7.925000
50%,449.500000,3.000000,28.000000,0.000000,0.000000,2.361710e+05,14.500000
75%,677.250000,3.000000,38.000000,1.000000,0.000000,3.477430e+05,31.275000
max,891.000000,3.000000,80.000000,8.000000,6.000000,3.101298e+06,512.329200

In [15]:
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,484,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134.0,9.5875,NaN,S
1,276,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502.0,77.9583,D7,S
2,223,3,"Green, Mr. George Henry",male,51.0,0,0,21440.0,8.0500,NaN,S
3,632,3,"Lundahl, Mr. Johan Svensson",male,51.0,0,0,347743.0,7.0542,NaN,S
4,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077.0,31.3875,NaN,S

In [16]:
y_train.head()

   Survived
0         1
1         1
2         0
3         0
4         1

## Preprocessing

## 1. Decision Tree

### model

### Train

### Test

## 2. Perceptron

### model

### Train

### Test

## 3. Decision Tree + Perceptron

### model

### Train

### Test

## Conclusion

## Further Readings